body{
    
    background:linear-gradient(rgb(205, 205, 205),skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;

}   

.container{
    margin-left: 25%;
    margin-top: 25%;

   display: flex;
   flex-direction: column;
   width: 400px;
   border-top: 10px solid lightcoral;
   border-bottom: 10px solid lightcoral;

}

.todo{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.todo_value{
    background: transparent;
    border: none;
    outline: none;
    flex-grow: 1;

}

.todo:has(.todo_checkbox:checked){

    color: red;
    background: lightgreen;
    text-decoration: line-through;
    order: 1;

}

.todo:hover{

    background-color: greenyellow;
}


